<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
        <meta charset="utf-8">
        <title>qq-job</title>
</head>
<body>
{% extends "base.html" %}
{% block content %}



    <style>
        .problems_table_div {
            padding:2em
        }
        .problems_create_new_problem_btn {
            {#height: 1em;#}
            {#padding:2em#}
        }
    </style>

<div class="row d-flex justify-content-center mt-3">

    <div class="col-9 col-lg-9 col-md-10 col-sm-12 pt-4 border">
        <div class="mb-4 border-bottom">
            <h1 class="">
                Создание проблемы
            </h1>
        </div>
        <form class="mb-5 pb-3 d-block" action="{{ url_for('create_problem') }}" method="post" novalidate>
            <p>
{#                {{ context.form.title.label }}<br>#}
                {{ context.form.title.label(class='control-label') }}<br>
                {{ context.form.title(class='form-control') }}
            </p>
            <p>
                {{ context.form.level.label(class='control-label') }}<br>
                {{ context.form.level(class='form-control') }}
            </p>

            <div class="">
                <p class="input-group-addon">Select category</p>
                <p>
                    <select name="category" class="selectpicker form-control">


                        {% for category in context.categories %}
                            <option
                                    value="{{ category.id }}"

                            >
                                {{ category.title }}
                            </option>
                        {% endfor %}
                    </select>
                </p>
            </div>


            <p>
                {{ context.form.text.label(class='control-label') }}
                {{ context.form.text(class='form-control') }}
            </p>
            <p>
                {{ context.form.knowledge.label(class='control-label') }}
                {{ context.form.knowledge(class='form-control') }}
            </p>
            <p>
                {{ context.form.answer.label(class='control-label') }}
                {{ context.form.answer(class='form-control') }}
            </p>
            <p>
                {{ context.form.advises.label(class='control-label') }}
                {{ context.form.advises(class='form-control') }}
            </p>

            <button type="submit" class="btn btn-primary float-right">
                {% if context.form.title %}
                    Редактировать
                {% else %}
                    Создать
                {% endif %}
            </button>
        </form>
        <p> </p>

    </div>

    <div class="col-3 col-lg-3 col-md-2 col-sm-0"
         style="
             background: repeating-linear-gradient(
                  45deg,
                  #bc8a20,
                  #8d6e2b 10px,
                  #000000 10px,
                  #000000 20px
                );
            opacity: 0.5;
        "
    >

    </div>


</div>


{% endblock %}
</body>
</html>